.icon--arrow-left {
  width: 20px;
  height: 11px;
}

.icon--arrow {
  width: 17.9px;
  height: 24.6px;
}

.icon--logo-mobile {
  width: 184px;
  height: 164px;
}

.icon--logo {
  width: 382px;
  height: 390px;
}
.cls-1{fill:#181c20;}

.icon--pause {
  width: 40px;
  height: 41px;
}

.icon--play {
  width: 40px;
  height: 41px;
}

