// All animations here - https://github.com/daneden/animate.css

/*  ==========================================================================
    Animations
    ========================================================================== */

.js-animate {

    @include breakpoint( large ) {
        opacity: 0;
        transform: translateY( 30px );
        transition: all 800ms ease;
        transition-delay: 100ms;
        backface-visibility: hidden;
    }

    &.is-inview {

        @include breakpoint( large ) {
            opacity: 1;
            transform: translateY( 0px );
        }
    }
}