/*  ==========================================================================
    Base
    ========================================================================== */

/*
    Elements
    ========================================================================== */

html {
   	font-smoothing: antialiased;
   	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $f-sans;
	font-weight: 400;
	font-style: normal;
    color: map-get( $c-colours, primary );
    // Sets base to 16px
    @include vs-spacing(font-size, 16px, 16px);

    a {
        font-family: $f-sans;
    }
}


/*  ==========================================================================
    Text
    ========================================================================== */

.text {
    line-height: 1.15;
    @include vs-spacing(font-size, 18px, 22px);

    a {
        text-decoration: underline;
        color: map-get( $c-colours, primary );
    }
}

.text--sans {
    font-family: $f-sans;
}

.text--serif {
    font-family: $f-serif;
    letter-spacing: -0.03em;
}

.text--60 {
    @include vs-spacing(font-size, 36px, 60px);
}

.text--40 {
    @include vs-spacing(font-size, 40px, 40px);
}

.text--36 {
    @include vs-spacing(font-size, 30px, 36px);
}

.text--30 {
    @include vs-spacing(font-size, 30px, 30px);
}

.text--26 {
    @include vs-spacing(font-size, 20px, 26px);
}

.text--20 {
    line-height: 1.45;
    @include vs-spacing(font-size, 18px, 20px);
}

.text--16 {
    @include vs-spacing(font-size, 16px, 16px);
}

.text--caps {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 300;
}

/*
    Elements
    ========================================================================== */

// REF - http://stackoverflow.com/questions/19099401/why-use-h1-instead-of-actual-h1

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: $f-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 20px;
}

h1, .h1 { }

h2, .h2 { }

h3, .h3 { }

h4, .h4 { }

h5, .h5 { }

h6, .h6 { }

iframe {
    max-width: 100%;
}