/*  ==========================================================================
    Globals (Mobile First)
    ========================================================================== */
/*
    Padding and Margins
    ========================================================================== */
/*
    Widths and Heights
    ========================================================================== */
/*
    Site colours
    ========================================================================== */
/*
    Colour Maps
    ========================================================================== */
/*
    Fonts
    ========================================================================== */
/* Font Sizes
    ========================================================================== */
/*  ==========================================================================
    Foundation
    ========================================================================== */
/*
    Grid
    ========================================================================== */
/*  ==========================================================================
    Fonts
    ========================================================================== */
/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;700;900&display=swap");
@font-face {
  font-family: ProximaNovaAlt;
  src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-regular-alt.woff2) format("woff2"), url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-regular-alt.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: ProximaNovaAlt;
  src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-semibold-alt.woff2) format("woff2"), url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-semibold-alt.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: ProximaNovaAlt;
  src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-italic-alt.woff2) format("woff2"), url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-italic-alt.woff) format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: ProximaNovaAlt;
  src: url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-bold-alt.woff2) format("woff2"), url(https://www.hillarys.co.uk/build/global/webfonts/proxima-nova/proxima-nova-bold-alt.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Tiempos;
  src: url(https://www.hillarys.co.uk/build/global/webfonts/klim/headline-semibold.woff2) format("woff2"), url(https://www.hillarys.co.uk/build/global/webfonts/klim/headline-semibold.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

/*  ==========================================================================
    Functions
    ========================================================================== */
/*  ==========================================================================
    Mixins
    ========================================================================== */
/*
    Clear after floats
    ========================================================================== */
/*
    Responsive mixins
    ========================================================================== */
/*
    Typography
    ========================================================================== */
/**
 *
 * VS VARIABLES
 *
 */
/**
 *
 * VS-SPACING
 *
 */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
  * Correct `inline-block` display not defined in IE 8/9.
  */
audio,
canvas,
video {
  display: inline-block;
}

/**
  * Prevent modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address styling not present in IE 8/9.
  */
[hidden] {
  display: none;
}

/* ==========================================================================
    Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS text size adjust after orientation change, without disabling
  *    user zoom.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* ==========================================================================
    Links
    ========================================================================== */
/**
  * Address `outline` inconsistency between Chrome and other browsers.
  */
a:focus {
  outline: none;
}

/**
  * Improve readability when focused and also mouse hovered in all browsers.
  */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
    Typography
    ========================================================================== */
/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari 5, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Address styling not present in IE 8/9, Safari 5, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari 5 and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Address styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Correct font family set oddly in Safari 5 and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
  * Improve readability of pre-formatted text in all browsers.
  */
pre {
  white-space: pre-wrap;
}

/**
  * Set consistent quote types.
  */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
    Embedded content
    ========================================================================== */
/**
  * Remove border when inside `a` element in IE 8/9.
  */
img {
  border: 0;
}

/**
  * Correct overflow displayed oddly in IE 9.
  */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
    Figures
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari 5.
  */
figure {
  margin: 0;
}

/* ==========================================================================
    Forms
    ========================================================================== */
/**
  * Define consistent border, margin, and padding.
  */
/**
  * 1. Correct `color` not being inherited in IE 8/9.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * 1. Correct font family not being inherited in all browsers.
  * 2. Correct font size not being inherited in all browsers.
  * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
  */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * 1. Remove default vertical scrollbar in IE 8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
    Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
    RWD
    ========================================================================== */
img, video, audio, object {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
    Border Box
    ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

.row {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.row::before, .row::after {
  display: table;
  content: ' ';
}

.row::after {
  clear: both;
}

.row.collapse > .column, .row.collapse > .columns {
  padding-right: 0;
  padding-left: 0;
}

.row .row {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

@media print, screen and (min-width: 23.4375em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media print, screen and (min-width: 40em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media print, screen and (min-width: 50em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media print, screen and (min-width: 64.0625em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media screen and (min-width: 80em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media screen and (min-width: 93.75em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

@media screen and (min-width: 125em) {
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

.row .row.collapse {
  margin-right: 0;
  margin-left: 0;
}

.row.expanded {
  max-width: none;
}

.row.expanded .row {
  margin-right: auto;
  margin-left: auto;
}

.row:not(.expanded) .row {
  max-width: none;
}

.row.gutter-small > .column, .row.gutter-small > .columns {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.row.gutter-medium > .column, .row.gutter-medium > .columns {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.column, .columns {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .column, .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: left;
}

.column.end:last-child:last-child, .end.columns:last-child:last-child {
  float: left;
}

.column.row.row, .row.row.columns {
  float: none;
}

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.small-1 {
  width: 8.33333%;
}

.small-push-1 {
  position: relative;
  left: 8.33333%;
}

.small-pull-1 {
  position: relative;
  left: -8.33333%;
}

.small-offset-0 {
  margin-left: 0%;
}

.small-2 {
  width: 16.66667%;
}

.small-push-2 {
  position: relative;
  left: 16.66667%;
}

.small-pull-2 {
  position: relative;
  left: -16.66667%;
}

.small-offset-1 {
  margin-left: 8.33333%;
}

.small-3 {
  width: 25%;
}

.small-push-3 {
  position: relative;
  left: 25%;
}

.small-pull-3 {
  position: relative;
  left: -25%;
}

.small-offset-2 {
  margin-left: 16.66667%;
}

.small-4 {
  width: 33.33333%;
}

.small-push-4 {
  position: relative;
  left: 33.33333%;
}

.small-pull-4 {
  position: relative;
  left: -33.33333%;
}

.small-offset-3 {
  margin-left: 25%;
}

.small-5 {
  width: 41.66667%;
}

.small-push-5 {
  position: relative;
  left: 41.66667%;
}

.small-pull-5 {
  position: relative;
  left: -41.66667%;
}

.small-offset-4 {
  margin-left: 33.33333%;
}

.small-6 {
  width: 50%;
}

.small-push-6 {
  position: relative;
  left: 50%;
}

.small-pull-6 {
  position: relative;
  left: -50%;
}

.small-offset-5 {
  margin-left: 41.66667%;
}

.small-7 {
  width: 58.33333%;
}

.small-push-7 {
  position: relative;
  left: 58.33333%;
}

.small-pull-7 {
  position: relative;
  left: -58.33333%;
}

.small-offset-6 {
  margin-left: 50%;
}

.small-8 {
  width: 66.66667%;
}

.small-push-8 {
  position: relative;
  left: 66.66667%;
}

.small-pull-8 {
  position: relative;
  left: -66.66667%;
}

.small-offset-7 {
  margin-left: 58.33333%;
}

.small-9 {
  width: 75%;
}

.small-push-9 {
  position: relative;
  left: 75%;
}

.small-pull-9 {
  position: relative;
  left: -75%;
}

.small-offset-8 {
  margin-left: 66.66667%;
}

.small-10 {
  width: 83.33333%;
}

.small-push-10 {
  position: relative;
  left: 83.33333%;
}

.small-pull-10 {
  position: relative;
  left: -83.33333%;
}

.small-offset-9 {
  margin-left: 75%;
}

.small-11 {
  width: 91.66667%;
}

.small-push-11 {
  position: relative;
  left: 91.66667%;
}

.small-pull-11 {
  position: relative;
  left: -91.66667%;
}

.small-offset-10 {
  margin-left: 83.33333%;
}

.small-12 {
  width: 100%;
}

.small-offset-11 {
  margin-left: 91.66667%;
}

.small-up-1 > .column, .small-up-1 > .columns {
  float: left;
  width: 100%;
}

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
  clear: both;
}

.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
  float: left;
}

.small-up-2 > .column, .small-up-2 > .columns {
  float: left;
  width: 50%;
}

.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
  clear: both;
}

.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
  float: left;
}

.small-up-3 > .column, .small-up-3 > .columns {
  float: left;
  width: 33.33333%;
}

.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
  clear: both;
}

.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
  float: left;
}

.small-up-4 > .column, .small-up-4 > .columns {
  float: left;
  width: 25%;
}

.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
  clear: both;
}

.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
  float: left;
}

.small-up-5 > .column, .small-up-5 > .columns {
  float: left;
  width: 20%;
}

.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
  clear: both;
}

.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
  float: left;
}

.small-up-6 > .column, .small-up-6 > .columns {
  float: left;
  width: 16.66667%;
}

.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
  clear: both;
}

.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
  float: left;
}

.small-up-7 > .column, .small-up-7 > .columns {
  float: left;
  width: 14.28571%;
}

.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
  clear: both;
}

.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
  float: left;
}

.small-up-8 > .column, .small-up-8 > .columns {
  float: left;
  width: 12.5%;
}

.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
  clear: none;
}

.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
  clear: both;
}

.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
  float: left;
}

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0;
}

.small-collapse .row {
  margin-right: 0;
  margin-left: 0;
}

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0;
}

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.small-centered {
  margin-right: auto;
  margin-left: auto;
}

.small-centered, .small-centered:last-child:not(:first-child) {
  float: none;
  clear: both;
}

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0;
}

@media print, screen and (min-width: 23.4375em) {
  .mobile-1 {
    width: 8.33333%;
  }
  .mobile-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .mobile-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .mobile-offset-0 {
    margin-left: 0%;
  }
  .mobile-2 {
    width: 16.66667%;
  }
  .mobile-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .mobile-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .mobile-offset-1 {
    margin-left: 8.33333%;
  }
  .mobile-3 {
    width: 25%;
  }
  .mobile-push-3 {
    position: relative;
    left: 25%;
  }
  .mobile-pull-3 {
    position: relative;
    left: -25%;
  }
  .mobile-offset-2 {
    margin-left: 16.66667%;
  }
  .mobile-4 {
    width: 33.33333%;
  }
  .mobile-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .mobile-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .mobile-offset-3 {
    margin-left: 25%;
  }
  .mobile-5 {
    width: 41.66667%;
  }
  .mobile-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .mobile-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .mobile-offset-4 {
    margin-left: 33.33333%;
  }
  .mobile-6 {
    width: 50%;
  }
  .mobile-push-6 {
    position: relative;
    left: 50%;
  }
  .mobile-pull-6 {
    position: relative;
    left: -50%;
  }
  .mobile-offset-5 {
    margin-left: 41.66667%;
  }
  .mobile-7 {
    width: 58.33333%;
  }
  .mobile-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .mobile-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .mobile-offset-6 {
    margin-left: 50%;
  }
  .mobile-8 {
    width: 66.66667%;
  }
  .mobile-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .mobile-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .mobile-offset-7 {
    margin-left: 58.33333%;
  }
  .mobile-9 {
    width: 75%;
  }
  .mobile-push-9 {
    position: relative;
    left: 75%;
  }
  .mobile-pull-9 {
    position: relative;
    left: -75%;
  }
  .mobile-offset-8 {
    margin-left: 66.66667%;
  }
  .mobile-10 {
    width: 83.33333%;
  }
  .mobile-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .mobile-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .mobile-offset-9 {
    margin-left: 75%;
  }
  .mobile-11 {
    width: 91.66667%;
  }
  .mobile-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .mobile-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .mobile-offset-10 {
    margin-left: 83.33333%;
  }
  .mobile-12 {
    width: 100%;
  }
  .mobile-offset-11 {
    margin-left: 91.66667%;
  }
  .mobile-up-1 > .column, .mobile-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .mobile-up-1 > .column:nth-of-type(1n), .mobile-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-1 > .column:nth-of-type(1n+1), .mobile-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .mobile-up-1 > .column:last-child, .mobile-up-1 > .columns:last-child {
    float: left;
  }
  .mobile-up-2 > .column, .mobile-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .mobile-up-2 > .column:nth-of-type(1n), .mobile-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-2 > .column:nth-of-type(2n+1), .mobile-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .mobile-up-2 > .column:last-child, .mobile-up-2 > .columns:last-child {
    float: left;
  }
  .mobile-up-3 > .column, .mobile-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .mobile-up-3 > .column:nth-of-type(1n), .mobile-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-3 > .column:nth-of-type(3n+1), .mobile-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .mobile-up-3 > .column:last-child, .mobile-up-3 > .columns:last-child {
    float: left;
  }
  .mobile-up-4 > .column, .mobile-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .mobile-up-4 > .column:nth-of-type(1n), .mobile-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-4 > .column:nth-of-type(4n+1), .mobile-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .mobile-up-4 > .column:last-child, .mobile-up-4 > .columns:last-child {
    float: left;
  }
  .mobile-up-5 > .column, .mobile-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .mobile-up-5 > .column:nth-of-type(1n), .mobile-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-5 > .column:nth-of-type(5n+1), .mobile-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .mobile-up-5 > .column:last-child, .mobile-up-5 > .columns:last-child {
    float: left;
  }
  .mobile-up-6 > .column, .mobile-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .mobile-up-6 > .column:nth-of-type(1n), .mobile-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-6 > .column:nth-of-type(6n+1), .mobile-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .mobile-up-6 > .column:last-child, .mobile-up-6 > .columns:last-child {
    float: left;
  }
  .mobile-up-7 > .column, .mobile-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .mobile-up-7 > .column:nth-of-type(1n), .mobile-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-7 > .column:nth-of-type(7n+1), .mobile-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .mobile-up-7 > .column:last-child, .mobile-up-7 > .columns:last-child {
    float: left;
  }
  .mobile-up-8 > .column, .mobile-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .mobile-up-8 > .column:nth-of-type(1n), .mobile-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .mobile-up-8 > .column:nth-of-type(8n+1), .mobile-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .mobile-up-8 > .column:last-child, .mobile-up-8 > .columns:last-child {
    float: left;
  }
  .mobile-collapse > .column, .mobile-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .mobile-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .mobile-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .mobile-uncollapse > .column, .mobile-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .mobile-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .mobile-centered, .mobile-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .mobile-uncentered,
  .mobile-push-0,
  .mobile-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media print, screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%;
  }
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .medium-offset-0 {
    margin-left: 0%;
  }
  .medium-2 {
    width: 16.66667%;
  }
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .medium-offset-1 {
    margin-left: 8.33333%;
  }
  .medium-3 {
    width: 25%;
  }
  .medium-push-3 {
    position: relative;
    left: 25%;
  }
  .medium-pull-3 {
    position: relative;
    left: -25%;
  }
  .medium-offset-2 {
    margin-left: 16.66667%;
  }
  .medium-4 {
    width: 33.33333%;
  }
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .medium-offset-3 {
    margin-left: 25%;
  }
  .medium-5 {
    width: 41.66667%;
  }
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .medium-offset-4 {
    margin-left: 33.33333%;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-push-6 {
    position: relative;
    left: 50%;
  }
  .medium-pull-6 {
    position: relative;
    left: -50%;
  }
  .medium-offset-5 {
    margin-left: 41.66667%;
  }
  .medium-7 {
    width: 58.33333%;
  }
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .medium-offset-6 {
    margin-left: 50%;
  }
  .medium-8 {
    width: 66.66667%;
  }
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .medium-offset-7 {
    margin-left: 58.33333%;
  }
  .medium-9 {
    width: 75%;
  }
  .medium-push-9 {
    position: relative;
    left: 75%;
  }
  .medium-pull-9 {
    position: relative;
    left: -75%;
  }
  .medium-offset-8 {
    margin-left: 66.66667%;
  }
  .medium-10 {
    width: 83.33333%;
  }
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .medium-offset-9 {
    margin-left: 75%;
  }
  .medium-11 {
    width: 91.66667%;
  }
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .medium-offset-10 {
    margin-left: 83.33333%;
  }
  .medium-12 {
    width: 100%;
  }
  .medium-offset-11 {
    margin-left: 91.66667%;
  }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
    float: left;
  }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
    float: left;
  }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
    float: left;
  }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
    float: left;
  }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
    float: left;
  }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
    float: left;
  }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
    float: left;
  }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
    float: left;
  }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .medium-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .medium-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .medium-centered, .medium-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media print, screen and (min-width: 50em) {
  .xmedium-1 {
    width: 8.33333%;
  }
  .xmedium-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .xmedium-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .xmedium-offset-0 {
    margin-left: 0%;
  }
  .xmedium-2 {
    width: 16.66667%;
  }
  .xmedium-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .xmedium-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .xmedium-offset-1 {
    margin-left: 8.33333%;
  }
  .xmedium-3 {
    width: 25%;
  }
  .xmedium-push-3 {
    position: relative;
    left: 25%;
  }
  .xmedium-pull-3 {
    position: relative;
    left: -25%;
  }
  .xmedium-offset-2 {
    margin-left: 16.66667%;
  }
  .xmedium-4 {
    width: 33.33333%;
  }
  .xmedium-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .xmedium-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .xmedium-offset-3 {
    margin-left: 25%;
  }
  .xmedium-5 {
    width: 41.66667%;
  }
  .xmedium-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .xmedium-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .xmedium-offset-4 {
    margin-left: 33.33333%;
  }
  .xmedium-6 {
    width: 50%;
  }
  .xmedium-push-6 {
    position: relative;
    left: 50%;
  }
  .xmedium-pull-6 {
    position: relative;
    left: -50%;
  }
  .xmedium-offset-5 {
    margin-left: 41.66667%;
  }
  .xmedium-7 {
    width: 58.33333%;
  }
  .xmedium-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .xmedium-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .xmedium-offset-6 {
    margin-left: 50%;
  }
  .xmedium-8 {
    width: 66.66667%;
  }
  .xmedium-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .xmedium-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .xmedium-offset-7 {
    margin-left: 58.33333%;
  }
  .xmedium-9 {
    width: 75%;
  }
  .xmedium-push-9 {
    position: relative;
    left: 75%;
  }
  .xmedium-pull-9 {
    position: relative;
    left: -75%;
  }
  .xmedium-offset-8 {
    margin-left: 66.66667%;
  }
  .xmedium-10 {
    width: 83.33333%;
  }
  .xmedium-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .xmedium-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .xmedium-offset-9 {
    margin-left: 75%;
  }
  .xmedium-11 {
    width: 91.66667%;
  }
  .xmedium-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .xmedium-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .xmedium-offset-10 {
    margin-left: 83.33333%;
  }
  .xmedium-12 {
    width: 100%;
  }
  .xmedium-offset-11 {
    margin-left: 91.66667%;
  }
  .xmedium-up-1 > .column, .xmedium-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .xmedium-up-1 > .column:nth-of-type(1n), .xmedium-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-1 > .column:nth-of-type(1n+1), .xmedium-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .xmedium-up-1 > .column:last-child, .xmedium-up-1 > .columns:last-child {
    float: left;
  }
  .xmedium-up-2 > .column, .xmedium-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .xmedium-up-2 > .column:nth-of-type(1n), .xmedium-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-2 > .column:nth-of-type(2n+1), .xmedium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .xmedium-up-2 > .column:last-child, .xmedium-up-2 > .columns:last-child {
    float: left;
  }
  .xmedium-up-3 > .column, .xmedium-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .xmedium-up-3 > .column:nth-of-type(1n), .xmedium-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-3 > .column:nth-of-type(3n+1), .xmedium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .xmedium-up-3 > .column:last-child, .xmedium-up-3 > .columns:last-child {
    float: left;
  }
  .xmedium-up-4 > .column, .xmedium-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .xmedium-up-4 > .column:nth-of-type(1n), .xmedium-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-4 > .column:nth-of-type(4n+1), .xmedium-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .xmedium-up-4 > .column:last-child, .xmedium-up-4 > .columns:last-child {
    float: left;
  }
  .xmedium-up-5 > .column, .xmedium-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .xmedium-up-5 > .column:nth-of-type(1n), .xmedium-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-5 > .column:nth-of-type(5n+1), .xmedium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .xmedium-up-5 > .column:last-child, .xmedium-up-5 > .columns:last-child {
    float: left;
  }
  .xmedium-up-6 > .column, .xmedium-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .xmedium-up-6 > .column:nth-of-type(1n), .xmedium-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-6 > .column:nth-of-type(6n+1), .xmedium-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .xmedium-up-6 > .column:last-child, .xmedium-up-6 > .columns:last-child {
    float: left;
  }
  .xmedium-up-7 > .column, .xmedium-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .xmedium-up-7 > .column:nth-of-type(1n), .xmedium-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-7 > .column:nth-of-type(7n+1), .xmedium-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .xmedium-up-7 > .column:last-child, .xmedium-up-7 > .columns:last-child {
    float: left;
  }
  .xmedium-up-8 > .column, .xmedium-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .xmedium-up-8 > .column:nth-of-type(1n), .xmedium-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xmedium-up-8 > .column:nth-of-type(8n+1), .xmedium-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .xmedium-up-8 > .column:last-child, .xmedium-up-8 > .columns:last-child {
    float: left;
  }
  .xmedium-collapse > .column, .xmedium-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .xmedium-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .xmedium-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .xmedium-uncollapse > .column, .xmedium-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .xmedium-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .xmedium-centered, .xmedium-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .xmedium-uncentered,
  .xmedium-push-0,
  .xmedium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media print, screen and (min-width: 64.0625em) {
  .large-1 {
    width: 8.33333%;
  }
  .large-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .large-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .large-offset-0 {
    margin-left: 0%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .large-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-3 {
    width: 25%;
  }
  .large-push-3 {
    position: relative;
    left: 25%;
  }
  .large-pull-3 {
    position: relative;
    left: -25%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .large-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .large-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-6 {
    width: 50%;
  }
  .large-push-6 {
    position: relative;
    left: 50%;
  }
  .large-pull-6 {
    position: relative;
    left: -50%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .large-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .large-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-9 {
    width: 75%;
  }
  .large-push-9 {
    position: relative;
    left: 75%;
  }
  .large-pull-9 {
    position: relative;
    left: -75%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .large-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .large-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-11 {
    margin-left: 91.66667%;
  }
  .large-up-1 > .column, .large-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
    float: left;
  }
  .large-up-2 > .column, .large-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
    float: left;
  }
  .large-up-3 > .column, .large-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
    float: left;
  }
  .large-up-4 > .column, .large-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
    float: left;
  }
  .large-up-5 > .column, .large-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
    float: left;
  }
  .large-up-6 > .column, .large-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
    float: left;
  }
  .large-up-7 > .column, .large-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
    float: left;
  }
  .large-up-8 > .column, .large-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
    float: left;
  }
  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .large-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .large-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .large-centered, .large-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 80em) {
  .xlarge-1 {
    width: 8.33333%;
  }
  .xlarge-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .xlarge-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .xlarge-offset-0 {
    margin-left: 0%;
  }
  .xlarge-2 {
    width: 16.66667%;
  }
  .xlarge-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .xlarge-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .xlarge-offset-1 {
    margin-left: 8.33333%;
  }
  .xlarge-3 {
    width: 25%;
  }
  .xlarge-push-3 {
    position: relative;
    left: 25%;
  }
  .xlarge-pull-3 {
    position: relative;
    left: -25%;
  }
  .xlarge-offset-2 {
    margin-left: 16.66667%;
  }
  .xlarge-4 {
    width: 33.33333%;
  }
  .xlarge-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .xlarge-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .xlarge-offset-3 {
    margin-left: 25%;
  }
  .xlarge-5 {
    width: 41.66667%;
  }
  .xlarge-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .xlarge-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .xlarge-offset-4 {
    margin-left: 33.33333%;
  }
  .xlarge-6 {
    width: 50%;
  }
  .xlarge-push-6 {
    position: relative;
    left: 50%;
  }
  .xlarge-pull-6 {
    position: relative;
    left: -50%;
  }
  .xlarge-offset-5 {
    margin-left: 41.66667%;
  }
  .xlarge-7 {
    width: 58.33333%;
  }
  .xlarge-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .xlarge-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .xlarge-offset-6 {
    margin-left: 50%;
  }
  .xlarge-8 {
    width: 66.66667%;
  }
  .xlarge-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .xlarge-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .xlarge-offset-7 {
    margin-left: 58.33333%;
  }
  .xlarge-9 {
    width: 75%;
  }
  .xlarge-push-9 {
    position: relative;
    left: 75%;
  }
  .xlarge-pull-9 {
    position: relative;
    left: -75%;
  }
  .xlarge-offset-8 {
    margin-left: 66.66667%;
  }
  .xlarge-10 {
    width: 83.33333%;
  }
  .xlarge-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .xlarge-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .xlarge-offset-9 {
    margin-left: 75%;
  }
  .xlarge-11 {
    width: 91.66667%;
  }
  .xlarge-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .xlarge-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .xlarge-offset-10 {
    margin-left: 83.33333%;
  }
  .xlarge-12 {
    width: 100%;
  }
  .xlarge-offset-11 {
    margin-left: 91.66667%;
  }
  .xlarge-up-1 > .column, .xlarge-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .xlarge-up-1 > .column:nth-of-type(1n), .xlarge-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-1 > .column:nth-of-type(1n+1), .xlarge-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .xlarge-up-1 > .column:last-child, .xlarge-up-1 > .columns:last-child {
    float: left;
  }
  .xlarge-up-2 > .column, .xlarge-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .xlarge-up-2 > .column:nth-of-type(1n), .xlarge-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-2 > .column:nth-of-type(2n+1), .xlarge-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .xlarge-up-2 > .column:last-child, .xlarge-up-2 > .columns:last-child {
    float: left;
  }
  .xlarge-up-3 > .column, .xlarge-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .xlarge-up-3 > .column:nth-of-type(1n), .xlarge-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-3 > .column:nth-of-type(3n+1), .xlarge-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .xlarge-up-3 > .column:last-child, .xlarge-up-3 > .columns:last-child {
    float: left;
  }
  .xlarge-up-4 > .column, .xlarge-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .xlarge-up-4 > .column:nth-of-type(1n), .xlarge-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-4 > .column:nth-of-type(4n+1), .xlarge-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .xlarge-up-4 > .column:last-child, .xlarge-up-4 > .columns:last-child {
    float: left;
  }
  .xlarge-up-5 > .column, .xlarge-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .xlarge-up-5 > .column:nth-of-type(1n), .xlarge-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-5 > .column:nth-of-type(5n+1), .xlarge-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .xlarge-up-5 > .column:last-child, .xlarge-up-5 > .columns:last-child {
    float: left;
  }
  .xlarge-up-6 > .column, .xlarge-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .xlarge-up-6 > .column:nth-of-type(1n), .xlarge-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-6 > .column:nth-of-type(6n+1), .xlarge-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .xlarge-up-6 > .column:last-child, .xlarge-up-6 > .columns:last-child {
    float: left;
  }
  .xlarge-up-7 > .column, .xlarge-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .xlarge-up-7 > .column:nth-of-type(1n), .xlarge-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-7 > .column:nth-of-type(7n+1), .xlarge-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .xlarge-up-7 > .column:last-child, .xlarge-up-7 > .columns:last-child {
    float: left;
  }
  .xlarge-up-8 > .column, .xlarge-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .xlarge-up-8 > .column:nth-of-type(1n), .xlarge-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xlarge-up-8 > .column:nth-of-type(8n+1), .xlarge-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .xlarge-up-8 > .column:last-child, .xlarge-up-8 > .columns:last-child {
    float: left;
  }
  .xlarge-collapse > .column, .xlarge-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .xlarge-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .xlarge-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .xlarge-uncollapse > .column, .xlarge-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .xlarge-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .xlarge-centered, .xlarge-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .xlarge-uncentered,
  .xlarge-push-0,
  .xlarge-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 93.75em) {
  .xxlarge-1 {
    width: 8.33333%;
  }
  .xxlarge-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .xxlarge-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .xxlarge-offset-0 {
    margin-left: 0%;
  }
  .xxlarge-2 {
    width: 16.66667%;
  }
  .xxlarge-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .xxlarge-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .xxlarge-offset-1 {
    margin-left: 8.33333%;
  }
  .xxlarge-3 {
    width: 25%;
  }
  .xxlarge-push-3 {
    position: relative;
    left: 25%;
  }
  .xxlarge-pull-3 {
    position: relative;
    left: -25%;
  }
  .xxlarge-offset-2 {
    margin-left: 16.66667%;
  }
  .xxlarge-4 {
    width: 33.33333%;
  }
  .xxlarge-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .xxlarge-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .xxlarge-offset-3 {
    margin-left: 25%;
  }
  .xxlarge-5 {
    width: 41.66667%;
  }
  .xxlarge-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .xxlarge-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .xxlarge-offset-4 {
    margin-left: 33.33333%;
  }
  .xxlarge-6 {
    width: 50%;
  }
  .xxlarge-push-6 {
    position: relative;
    left: 50%;
  }
  .xxlarge-pull-6 {
    position: relative;
    left: -50%;
  }
  .xxlarge-offset-5 {
    margin-left: 41.66667%;
  }
  .xxlarge-7 {
    width: 58.33333%;
  }
  .xxlarge-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .xxlarge-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .xxlarge-offset-6 {
    margin-left: 50%;
  }
  .xxlarge-8 {
    width: 66.66667%;
  }
  .xxlarge-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .xxlarge-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .xxlarge-offset-7 {
    margin-left: 58.33333%;
  }
  .xxlarge-9 {
    width: 75%;
  }
  .xxlarge-push-9 {
    position: relative;
    left: 75%;
  }
  .xxlarge-pull-9 {
    position: relative;
    left: -75%;
  }
  .xxlarge-offset-8 {
    margin-left: 66.66667%;
  }
  .xxlarge-10 {
    width: 83.33333%;
  }
  .xxlarge-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .xxlarge-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .xxlarge-offset-9 {
    margin-left: 75%;
  }
  .xxlarge-11 {
    width: 91.66667%;
  }
  .xxlarge-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .xxlarge-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .xxlarge-offset-10 {
    margin-left: 83.33333%;
  }
  .xxlarge-12 {
    width: 100%;
  }
  .xxlarge-offset-11 {
    margin-left: 91.66667%;
  }
  .xxlarge-up-1 > .column, .xxlarge-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .xxlarge-up-1 > .column:nth-of-type(1n), .xxlarge-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-1 > .column:nth-of-type(1n+1), .xxlarge-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .xxlarge-up-1 > .column:last-child, .xxlarge-up-1 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-2 > .column, .xxlarge-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .xxlarge-up-2 > .column:nth-of-type(1n), .xxlarge-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-2 > .column:nth-of-type(2n+1), .xxlarge-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .xxlarge-up-2 > .column:last-child, .xxlarge-up-2 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-3 > .column, .xxlarge-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .xxlarge-up-3 > .column:nth-of-type(1n), .xxlarge-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-3 > .column:nth-of-type(3n+1), .xxlarge-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .xxlarge-up-3 > .column:last-child, .xxlarge-up-3 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-4 > .column, .xxlarge-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .xxlarge-up-4 > .column:nth-of-type(1n), .xxlarge-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-4 > .column:nth-of-type(4n+1), .xxlarge-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .xxlarge-up-4 > .column:last-child, .xxlarge-up-4 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-5 > .column, .xxlarge-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .xxlarge-up-5 > .column:nth-of-type(1n), .xxlarge-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-5 > .column:nth-of-type(5n+1), .xxlarge-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .xxlarge-up-5 > .column:last-child, .xxlarge-up-5 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-6 > .column, .xxlarge-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .xxlarge-up-6 > .column:nth-of-type(1n), .xxlarge-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-6 > .column:nth-of-type(6n+1), .xxlarge-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .xxlarge-up-6 > .column:last-child, .xxlarge-up-6 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-7 > .column, .xxlarge-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .xxlarge-up-7 > .column:nth-of-type(1n), .xxlarge-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-7 > .column:nth-of-type(7n+1), .xxlarge-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .xxlarge-up-7 > .column:last-child, .xxlarge-up-7 > .columns:last-child {
    float: left;
  }
  .xxlarge-up-8 > .column, .xxlarge-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .xxlarge-up-8 > .column:nth-of-type(1n), .xxlarge-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxlarge-up-8 > .column:nth-of-type(8n+1), .xxlarge-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .xxlarge-up-8 > .column:last-child, .xxlarge-up-8 > .columns:last-child {
    float: left;
  }
  .xxlarge-collapse > .column, .xxlarge-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .xxlarge-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .xxlarge-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .xxlarge-uncollapse > .column, .xxlarge-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .xxlarge-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .xxlarge-centered, .xxlarge-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .xxlarge-uncentered,
  .xxlarge-push-0,
  .xxlarge-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 125em) {
  .xxxlarge-1 {
    width: 8.33333%;
  }
  .xxxlarge-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .xxxlarge-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .xxxlarge-offset-0 {
    margin-left: 0%;
  }
  .xxxlarge-2 {
    width: 16.66667%;
  }
  .xxxlarge-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .xxxlarge-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .xxxlarge-offset-1 {
    margin-left: 8.33333%;
  }
  .xxxlarge-3 {
    width: 25%;
  }
  .xxxlarge-push-3 {
    position: relative;
    left: 25%;
  }
  .xxxlarge-pull-3 {
    position: relative;
    left: -25%;
  }
  .xxxlarge-offset-2 {
    margin-left: 16.66667%;
  }
  .xxxlarge-4 {
    width: 33.33333%;
  }
  .xxxlarge-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .xxxlarge-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .xxxlarge-offset-3 {
    margin-left: 25%;
  }
  .xxxlarge-5 {
    width: 41.66667%;
  }
  .xxxlarge-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .xxxlarge-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .xxxlarge-offset-4 {
    margin-left: 33.33333%;
  }
  .xxxlarge-6 {
    width: 50%;
  }
  .xxxlarge-push-6 {
    position: relative;
    left: 50%;
  }
  .xxxlarge-pull-6 {
    position: relative;
    left: -50%;
  }
  .xxxlarge-offset-5 {
    margin-left: 41.66667%;
  }
  .xxxlarge-7 {
    width: 58.33333%;
  }
  .xxxlarge-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .xxxlarge-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .xxxlarge-offset-6 {
    margin-left: 50%;
  }
  .xxxlarge-8 {
    width: 66.66667%;
  }
  .xxxlarge-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .xxxlarge-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .xxxlarge-offset-7 {
    margin-left: 58.33333%;
  }
  .xxxlarge-9 {
    width: 75%;
  }
  .xxxlarge-push-9 {
    position: relative;
    left: 75%;
  }
  .xxxlarge-pull-9 {
    position: relative;
    left: -75%;
  }
  .xxxlarge-offset-8 {
    margin-left: 66.66667%;
  }
  .xxxlarge-10 {
    width: 83.33333%;
  }
  .xxxlarge-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .xxxlarge-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .xxxlarge-offset-9 {
    margin-left: 75%;
  }
  .xxxlarge-11 {
    width: 91.66667%;
  }
  .xxxlarge-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .xxxlarge-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .xxxlarge-offset-10 {
    margin-left: 83.33333%;
  }
  .xxxlarge-12 {
    width: 100%;
  }
  .xxxlarge-offset-11 {
    margin-left: 91.66667%;
  }
  .xxxlarge-up-1 > .column, .xxxlarge-up-1 > .columns {
    float: left;
    width: 100%;
  }
  .xxxlarge-up-1 > .column:nth-of-type(1n), .xxxlarge-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-1 > .column:nth-of-type(1n+1), .xxxlarge-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .xxxlarge-up-1 > .column:last-child, .xxxlarge-up-1 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-2 > .column, .xxxlarge-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .xxxlarge-up-2 > .column:nth-of-type(1n), .xxxlarge-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-2 > .column:nth-of-type(2n+1), .xxxlarge-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .xxxlarge-up-2 > .column:last-child, .xxxlarge-up-2 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-3 > .column, .xxxlarge-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .xxxlarge-up-3 > .column:nth-of-type(1n), .xxxlarge-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-3 > .column:nth-of-type(3n+1), .xxxlarge-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .xxxlarge-up-3 > .column:last-child, .xxxlarge-up-3 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-4 > .column, .xxxlarge-up-4 > .columns {
    float: left;
    width: 25%;
  }
  .xxxlarge-up-4 > .column:nth-of-type(1n), .xxxlarge-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-4 > .column:nth-of-type(4n+1), .xxxlarge-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .xxxlarge-up-4 > .column:last-child, .xxxlarge-up-4 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-5 > .column, .xxxlarge-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .xxxlarge-up-5 > .column:nth-of-type(1n), .xxxlarge-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-5 > .column:nth-of-type(5n+1), .xxxlarge-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .xxxlarge-up-5 > .column:last-child, .xxxlarge-up-5 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-6 > .column, .xxxlarge-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }
  .xxxlarge-up-6 > .column:nth-of-type(1n), .xxxlarge-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-6 > .column:nth-of-type(6n+1), .xxxlarge-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .xxxlarge-up-6 > .column:last-child, .xxxlarge-up-6 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-7 > .column, .xxxlarge-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }
  .xxxlarge-up-7 > .column:nth-of-type(1n), .xxxlarge-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-7 > .column:nth-of-type(7n+1), .xxxlarge-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .xxxlarge-up-7 > .column:last-child, .xxxlarge-up-7 > .columns:last-child {
    float: left;
  }
  .xxxlarge-up-8 > .column, .xxxlarge-up-8 > .columns {
    float: left;
    width: 12.5%;
  }
  .xxxlarge-up-8 > .column:nth-of-type(1n), .xxxlarge-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .xxxlarge-up-8 > .column:nth-of-type(8n+1), .xxxlarge-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .xxxlarge-up-8 > .column:last-child, .xxxlarge-up-8 > .columns:last-child {
    float: left;
  }
  .xxxlarge-collapse > .column, .xxxlarge-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }
  .xxxlarge-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }
  .expanded.row .xxxlarge-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .xxxlarge-uncollapse > .column, .xxxlarge-uncollapse > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .xxxlarge-centered {
    margin-right: auto;
    margin-left: auto;
  }
  .xxxlarge-centered, .xxxlarge-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
  .xxxlarge-uncentered,
  .xxxlarge-push-0,
  .xxxlarge-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

.column-block {
  margin-bottom: 1.25rem;
}

.column-block > :last-child {
  margin-bottom: 0;
}

@media print, screen and (min-width: 40em) {
  .column-block {
    margin-bottom: 1.25rem;
  }
  .column-block > :last-child {
    margin-bottom: 0;
  }
}

/*  ==========================================================================
    Grid Container
    ========================================================================== */
/*
    Block
    ========================================================================== */
.container {
  max-width: 1160px;
  padding: 0 3.44828%;
  margin: 0px auto;
  box-sizing: content-box !important;
}

/*
    Modifier
    ========================================================================== */
.container--full {
  max-width: 100%;
  padding: 0px;
}

.container--full .row.column, .container--full .row.columns {
  max-width: 100%;
  padding: 0px;
}

/*  ==========================================================================
    Base
    ========================================================================== */
/*
    Elements
    ========================================================================== */
html {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #181C20;
  font-size: calc(0 * 100vw + 16px);
}

@media screen and (min-width: 80em) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 23.375em) {
  body {
    font-size: 16px;
  }
}

body a {
  font-family: "Noto Sans JP", sans-serif;
}

/*  ==========================================================================
    Text
    ========================================================================== */
.text {
  line-height: 1.15;
  font-size: calc(0.00442 * 100vw + 16.34254px);
}

@media screen and (min-width: 80em) {
  .text {
    font-size: 22px;
  }
}

@media screen and (max-width: 23.375em) {
  .text {
    font-size: 18px;
  }
}

.text a {
  text-decoration: underline;
  color: #181C20;
}

.text--sans {
  font-family: "Noto Sans JP", sans-serif;
}

.text--serif {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: -0.03em;
}

.text--60 {
  font-size: calc(0.02652 * 100vw + 26.05525px);
}

@media screen and (min-width: 80em) {
  .text--60 {
    font-size: 60px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--60 {
    font-size: 36px;
  }
}

.text--40 {
  font-size: calc(0 * 100vw + 40px);
}

@media screen and (min-width: 80em) {
  .text--40 {
    font-size: 40px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--40 {
    font-size: 40px;
  }
}

.text--36 {
  font-size: calc(0.00663 * 100vw + 27.51381px);
}

@media screen and (min-width: 80em) {
  .text--36 {
    font-size: 36px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--36 {
    font-size: 30px;
  }
}

.text--30 {
  font-size: calc(0 * 100vw + 30px);
}

@media screen and (min-width: 80em) {
  .text--30 {
    font-size: 30px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--30 {
    font-size: 30px;
  }
}

.text--26 {
  font-size: calc(0.00663 * 100vw + 17.51381px);
}

@media screen and (min-width: 80em) {
  .text--26 {
    font-size: 26px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--26 {
    font-size: 20px;
  }
}

.text--20 {
  line-height: 1.45;
  font-size: calc(0.00221 * 100vw + 17.17127px);
}

@media screen and (min-width: 80em) {
  .text--20 {
    font-size: 20px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--20 {
    font-size: 18px;
  }
}

.text--16 {
  font-size: calc(0 * 100vw + 16px);
}

@media screen and (min-width: 80em) {
  .text--16 {
    font-size: 16px;
  }
}

@media screen and (max-width: 23.375em) {
  .text--16 {
    font-size: 16px;
  }
}

.text--caps {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 300;
}

/*
    Elements
    ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 20px;
}

iframe {
  max-width: 100%;
}

/*  ==========================================================================
    Animations
    ========================================================================== */
@media print, screen and (min-width: 64.0625em) {
  .js-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: all 800ms ease;
    transition-delay: 100ms;
    backface-visibility: hidden;
  }
}

@media print, screen and (min-width: 64.0625em) {
  .js-animate.is-inview {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*  ==========================================================================
    Header
    ========================================================================== */
/*
    Block
    ========================================================================== */
/*
    Elements
    ========================================================================== */
.l-header__share {
  position: fixed;
  top: 27px;
  right: 62px;
  z-index: 2;
  right: calc(0.04641 * 100vw + 2.59669px);
}

@media screen and (min-width: 80em) {
  .l-header__share {
    right: 62px;
  }
}

@media screen and (max-width: 23.375em) {
  .l-header__share {
    right: 20px;
  }
}

@media screen and (max-width: 64em) {
  .l-header__share {
    position: absolute;
  }
}

.lets-go .l-header__share {
  display: none;
}

.results .l-header__share {
  display: block;
}

@media screen and (max-width: 64em) {
  .results .l-header__share {
    display: none;
  }
}

.l-header__share span {
  font-size: 28px;
  font-weight: 700;
  color: #130F49;
  display: block;
  margin-bottom: 30px;
  font-size: calc(0.01326 * 100vw + 11.02762px);
}

@media screen and (min-width: 80em) {
  .l-header__share span {
    font-size: 28px;
  }
}

@media screen and (max-width: 23.375em) {
  .l-header__share span {
    font-size: 16px;
  }
}

@media screen and (max-width: 39.9375em) {
  .l-header__share ul {
    transform: scale(0.7);
    transform-origin: top right;
  }
}

.l-header__share li {
  text-align: right;
  margin-bottom: 30px;
}

.l-header__share li:nth-child(2) {
  padding-right: 18px;
}

.l-header__share li:nth-child(3) {
  padding-right: 6px;
}

.l-header__share a {
  transition: opacity 300ms ease;
}

.l-header__share a:hover, .l-header__share a:focus, .l-header__share a:active {
  opacity: 0.7;
}

/*  ==========================================================================
    Footer
    ========================================================================== */
/*
    Block
    ========================================================================== */
.l-footer {
  text-align: center;
  background: #D9F4FF;
  padding: 30px 20px;
}

.l-footer svg {
  display: inline-block;
  margin-bottom: 20px;
  width: 154px;
  height: 42px;
}

.l-footer p {
  text-align: center;
  color: #130F49;
  font-size: 12px;
  font-weight: 100;
}

.l-footer p a {
  color: #130F49;
  font-size: 12px;
  font-weight: 100;
  text-decoration: underline;
}

.l-footer p a:hover, .l-footer p a:focus, .l-footer p a:active {
  text-decoration: none;
}

.lets-go .l-footer {
  display: none;
}

.results .l-footer {
  display: block;
  background: #fff;
}

.l-footer__sources a {
  font-size: 12px;
}

.l-footer__sources ul {
  display: none;
  font-size: 12px;
}

/*  ==========================================================================
    Backgrounds
    ========================================================================== */
.u-background--green {
  color: #fff;
}

.u-background--dark {
  color: #fff;
}

.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*  ==========================================================================
    Arrows
    ========================================================================== */
.arrow--down {
  position: relative;
  padding-bottom: calc(0 * 100vw + 40px);
}

@media screen and (min-width: 80em) {
  .arrow--down {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 23.375em) {
  .arrow--down {
    padding-bottom: 40px;
  }
}

.arrow--down:after {
  content: '';
  display: block;
  background: url(../img/tmp/arrow.svg) no-repeat center;
  background-size: 14px 24px;
  width: 14px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0) rotate(-90deg);
}

.arrow--right-dark {
  position: relative;
  padding-right: calc(0 * 100vw + 40px);
  padding-left: calc(0 * 100vw + 40px);
}

@media screen and (min-width: 80em) {
  .arrow--right-dark {
    padding-right: 40px;
  }
}

@media screen and (max-width: 23.375em) {
  .arrow--right-dark {
    padding-right: 40px;
  }
}

@media screen and (min-width: 80em) {
  .arrow--right-dark {
    padding-left: 40px;
  }
}

@media screen and (max-width: 23.375em) {
  .arrow--right-dark {
    padding-left: 40px;
  }
}

.arrow--right-dark:after {
  content: '';
  display: block;
  background: url(../img/tmp/arrow-dark.svg) no-repeat center;
  background-size: 14px 24px;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate3d(0, -50%, 0) rotate(-180deg);
}

/*  ==========================================================================
    Display
    ========================================================================== */
.display--inline-block {
  display: inline-block;
}

.u-hide-tablet {
  display: block;
}

@media screen and (max-width: 64em) {
  .u-hide-tablet {
    display: none;
  }
}

.u-show-tablet {
  display: none;
}

@media screen and (max-width: 64em) {
  .u-show-tablet {
    display: block;
  }
}

.u-hide-mobile {
  display: block;
}

@media screen and (max-width: 49.9375em) {
  .u-hide-mobile {
    display: none;
  }
}

.u-show-mobile {
  display: none;
}

@media screen and (max-width: 49.9375em) {
  .u-show-mobile {
    display: block;
  }
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/*  ==========================================================================
    Seperator
    ========================================================================== */
.seperator {
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid #fff;
}

@media print, screen and (min-width: 64.0625em) {
  .seperator {
    padding-top: 0px;
    margin-top: 0px;
    border-top: none;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid #fff;
  }
}

.seperator--first {
  padding-top: 0px;
  margin-top: 0px;
  border-top: none;
}

@media print, screen and (min-width: 64.0625em) {
  .seperator--first {
    border-left: none;
  }
}

/*  ==========================================================================
    Text Links
    ========================================================================== */
/*
    Block
    ========================================================================== */
a:hover, a:focus {
  text-decoration: none;
}

/*  ==========================================================================
    link
    ========================================================================== */
/*
    Block
    ========================================================================== */
/*  ==========================================================================
    Lists
    ========================================================================== */
/*
    Reset
    ========================================================================== */
.list--bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  ==========================================================================
    Tables
    ========================================================================== */
/*
    Block
    ========================================================================== */
table {
  width: 100%;
}

table th, table td {
  text-align: left;
  padding: 5px;
}

table th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/*  ==========================================================================
    Form
    ========================================================================== */
/*
    Block
    ========================================================================== */
/*
    Elements
    ========================================================================== */
/*  ==========================================================================
    Images
    ========================================================================== */
/*
    Block
    ========================================================================== */
/*
    Modifiers
    ========================================================================== */
.image--full img {
  width: 100%;
  display: block;
}

/*  ==========================================================================
    Lazyload Images
    ========================================================================== */
/*
    Block
    ========================================================================== */
.intrinsic-image {
  position: relative;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.intrinsic-image.image--bg-transparent {
  background: transparent;
}

.intrinsic-image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity ease 150ms;
  backface-visibility: hidden;
}

.lazy_image {
  overflow: hidden;
  position: relative;
  padding-bottom: 67%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.lazy_image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity ease 150ms;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

img.lazyloading, img.lazyload {
  opacity: 0;
}

img.lazyloaded {
  animation: fade 150ms forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image--size-cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.image--size-cover .intrinsic-image {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.image--size-cover .intrinsic-image img {
  position: relative;
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

.image--size-contain {
  position: relative;
  width: 100%;
  height: 420px;
}

.image--size-contain .intrinsic-image {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 420px;
  padding: 0 !important;
}

.image--size-contain .intrinsic-image img {
  position: relative;
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "object-fit: contain";
}

/*  ==========================================================================
    Button
    ========================================================================== */
/*
    Block
    ========================================================================== */
.c-button {
  background: #130F49;
  font-size: 20px;
  line-height: 65px;
  color: #D9F4FF;
  text-align: center;
  padding: 0 26px;
  display: inline-block;
  letter-spacing: 0.032em;
  border-radius: 33px;
  font-weight: 700;
  transition: opacity 300ms ease;
}

@media screen and (max-width: 39.9375em) {
  .c-button {
    font-size: 16px;
  }
}

.c-button:hover, .c-button:active {
  opacity: 0.7;
}

.c-button:focus {
  border-color: #D9F4FF;
}

/*
    Modifier
    ========================================================================== */
/*  ==========================================================================
    Hero
    ========================================================================== */
/*
    Block
    ========================================================================== */
.c-landing {
  padding: 20vh 0;
}

/*
    Elements
    ========================================================================== */
.c-landing__logo {
  width: 200px;
}

.c-landing__logo svg {
  width: 200px;
}

/*  ==========================================================================
    Site Global Parts - prefix site-
    ========================================================================== */
.site {
  position: relative;
  z-index: 10;
}

.site--center-vert {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.site--align-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.site--align-top-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.site--clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

/*  ==========================================================================
    Scroll Lock
    ========================================================================== */
/*
    Block
    ========================================================================== */
html.scroll-lock,
.scroll-lock body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden !important;
}

html.scroll-lock {
  overflow-y: scroll !important;
}

/*  ==========================================================================
    Main layout styles go here
    ========================================================================== */
/*
    Block
    ========================================================================== */
.l-main {
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
}

/*  ==========================================================================
    Print
    ========================================================================== */
@media print {
  header,
  nav,
  footer {
    display: none;
  }
  img {
    max-width: 500px;
  }
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }
}

/*  ==========================================================================
Spacing
========================================================================== */
.padding-top--60 {
  padding-top: calc(0.03315 * 100vw + 17.56906px);
}

@media screen and (min-width: 80em) {
  .padding-top--60 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-top--60 {
    padding-top: 30px;
  }
}

.padding-top--80 {
  padding-top: calc(0.0442 * 100vw + 23.42541px);
}

@media screen and (min-width: 80em) {
  .padding-top--80 {
    padding-top: 80px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-top--80 {
    padding-top: 40px;
  }
}

.padding-top--90 {
  padding-top: calc(0.04972 * 100vw + 26.35359px);
}

@media screen and (min-width: 80em) {
  .padding-top--90 {
    padding-top: 90px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-top--90 {
    padding-top: 45px;
  }
}

.padding-top--100 {
  padding-top: calc(0.05525 * 100vw + 29.28177px);
}

@media screen and (min-width: 80em) {
  .padding-top--100 {
    padding-top: 100px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-top--100 {
    padding-top: 50px;
  }
}

.padding-bottom--60 {
  padding-bottom: calc(0.03315 * 100vw + 17.56906px);
}

@media screen and (min-width: 80em) {
  .padding-bottom--60 {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-bottom--60 {
    padding-bottom: 30px;
  }
}

.padding-bottom--100 {
  padding-bottom: calc(0.05525 * 100vw + 29.28177px);
}

@media screen and (min-width: 80em) {
  .padding-bottom--100 {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-bottom--100 {
    padding-bottom: 50px;
  }
}

.padding-bottom--120 {
  padding-bottom: calc(0.0663 * 100vw + 35.13812px);
}

@media screen and (min-width: 80em) {
  .padding-bottom--120 {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 23.375em) {
  .padding-bottom--120 {
    padding-bottom: 60px;
  }
}

.margin-bottom--40 {
  margin-bottom: calc(0.0221 * 100vw + 11.71271px);
}

@media screen and (min-width: 80em) {
  .margin-bottom--40 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 23.375em) {
  .margin-bottom--40 {
    margin-bottom: 20px;
  }
}

.margin-bottom--20 {
  margin-bottom: calc(0 * 100vw + 20px);
}

@media screen and (min-width: 80em) {
  .margin-bottom--20 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 23.375em) {
  .margin-bottom--20 {
    margin-bottom: 20px;
  }
}

html .mb0 {
  margin-bottom: 0px;
}

/*  ==========================================================================
    Helper
    ========================================================================== */
/*
    Text Align
    ========================================================================== */
.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

/*
    Floats
    ========================================================================== */
.float--right {
  float: right;
}

.float--left {
  float: left;
}

.foundation-mq {
  font-family: "small=0em&mobile=23.4375em&medium=40em&xmedium=50em&large=64.0625em&xlarge=80em&xxlarge=93.75em&xxxlarge=125em";
}
