/*  ==========================================================================
    Button
    ========================================================================== */

/*
    Block
    ========================================================================== */

.c-button,
%c-button {
    background: #130F49;
    font-size: 20px;
    line-height: 65px;
    color: #D9F4FF;
    text-align: center;
    padding: 0 26px;
    display: inline-block;
    letter-spacing: 0.032em;
    border-radius: 33px;
    font-weight: 700;
    transition: opacity 300ms ease;

    @include breakpoint( mobile down ) {
        font-size: 16px;
      }

    &:hover,
    &:active {
        opacity: 0.7;
    }

    &:focus {
        border-color: #D9F4FF;
    }
}

/*
    Modifier
    ========================================================================== */
