/*  ==========================================================================
    Hero
    ========================================================================== */

/*
    Block
    ========================================================================== */

.c-landing {
    padding: 20vh 0;
}

/*
    Elements
    ========================================================================== */

.c-landing__content {
}

.c-landing__logo {
    width: 200px;

    svg {
        width: 200px;
    }
}