/*  ==========================================================================
    Helper
    ========================================================================== */

/*
    Text Align
    ========================================================================== */

.align {
	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

/*
    Floats
    ========================================================================== */

.float {
	&--right {
		float: right;
	}

	&--left {
		float: left;
	}
}

.foundation-mq {
    font-family: '#{-zf-bp-serialize($breakpoints)}';
}