/*  ==========================================================================
    Footer
    ========================================================================== */

/*
    Block
    ========================================================================== */

.l-footer {
    text-align: center;
    background: #D9F4FF;
    padding: 30px 20px;

    svg {
        display: inline-block;
        margin-bottom: 20px;
        width: 154px;
        height: 42px;
    }

    p {
        text-align: center;
        color: #130F49;
        font-size: 12px;
        font-weight: 100;

        a {
            color: #130F49;
            font-size: 12px;
            font-weight: 100;
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }

    .lets-go & {
        display: none;
    }

    .results & {
        display: block;
        background: $c-white;
    }
}

.l-footer__sources {
    a {
        font-size: 12px;
    }
    ul {
        display: none;
        font-size: 12px;
    }
}