/*  ==========================================================================
    Grid Container
    ========================================================================== */

/*
    Block
    ========================================================================== */

.container {
    max-width: $w-container;
    padding: 0 percentage(40px / $w-container);
    margin: 0px auto;
    box-sizing: content-box !important;
}

/*
    Modifier
    ========================================================================== */

.container--full {
    max-width: 100%;
    padding: 0px;

    .row.column {
        max-width: 100%;
        padding: 0px;
    }
}