/*  ==========================================================================
    Header
    ========================================================================== */

/*
    Block
    ========================================================================== */

.l-header {
}

/*
    Elements
    ========================================================================== */

.l-header__share {
    position: fixed;
    top: 27px;
    right: 62px;
    z-index: 2;
    @include vs-spacing(right, 20px, 62px);

    @include breakpoint( xmedium down ) {
        position: absolute;
    }

    .lets-go & {
        display: none;
    }

    .results & {
        display: block;

        @include breakpoint( xmedium down ) {
            display: none;
        }
    }

    span {
        font-size: 28px;
        font-weight: 700;
        color: #130F49;
        display: block;
        margin-bottom: 30px;

        @include vs-spacing(font-size, 16px, 28px);
    }

    ul {

        @include breakpoint( mobile down ) {
            transform: scale(0.7);
            transform-origin: top right;
        }
    }

    li {
        text-align: right;
        margin-bottom: 30px;

        &:nth-child(2) {
            padding-right: 18px;
        }

        &:nth-child(3) {
            padding-right: 6px;
        }
    }

    a {
        transition: opacity 300ms ease;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.7;
        }
    }

    svg {

    }
}