/*  ==========================================================================
    Main layout styles go here
    ========================================================================== */

/*
    Block
    ========================================================================== */

.l-main {
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
}